body {
  margin: 0;
}


/* Container
 * class defines the bounds of the website. Can be configured
 * with styles which manifest outside the boundaries of the
 * content, such as backgrounds or animations
 */
.container {
  width: 100%;
  display: table;
}

/* Row
 * defines a full-width row of elements to be used as the main
 * container of all website's content;
 * it is centered and has a defined maximum width which adapts
 * to the screen size to occupy most of it.
 */
.row {
  width: 100%;
  max-width: 1200px;
  padding: 15px 10px 5px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  display: table;
}


/* Column-based layout
 * responsive three-column layout
 */
.col-1-of-3, .col-2-of-3 {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .col-1-of-3 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-1-of-3 {
    width: 32.5%;
  }
}

.col-1-of-3 .last-1-of-2 {
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.col-1-of-3 .last-1-of-1 {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .col-2-of-3 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-2-of-3 {
    width: 66%;
  }
}


/* Column-based layout
 * responsive four-column layout
 */
.col-1-of-4, .col-2-of-4, .col-3-of-4 {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
}

@media screen and (max-width: 499px) {
  .col-1-of-4 {
    width: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1023px) {
  .col-1-of-4 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .col-1-of-4 {
    width: 24.5%;
  }
}

@media screen and (max-width: 1023px) {
  .col-2-of-4 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-2-of-4 {
    width: 49.5%;
  }
}
@media screen and (max-width: 1023px) {
  .col-3-of-4 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-3-of-4 {
    width: 74.5%;
  }
}

/* Left-right-centered
 * classes used to configure the elements and text layout
 */
.left {
  display: block;
  float: left;
}

.right {
  display: block;
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
}

.full-width {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.text-left, .text-left a {
  text-align: left;
}

.text-right, .text-right a {
  text-align: right;
}

.text-center, .text-center a {
  text-align: center;
}

.text-justify, .text-justify a {
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .text-center-xs {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .text-center-sm {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-center-md {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .text-center-lg {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .text-center-xl {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .text-justify-xs {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .text-justify-sm {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-justify-md {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .text-justify-lg {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .text-justify-xl {
    text-align: center;
  }
}

/* Hide
 * classes used to hide elements in general or at specific
 * screen sizes
 */
.hide {
  display: none;
}

@media screen and (max-width: 480px) {
  .hide-xs {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .hide-lg {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

/*
 * Fixed elements
 */
.fixed>div, .fixed>img {
    position: fixed;
}

/* Menu 
 * Configure list elements as floating menu
 */

ul.menu {
  display: block;
  padding-inline-start: 0;
}

ul.menu li {
  display: inline-block;
  padding: 10px;
}

/* Configure list elements as tower menu
 */
ul.footer-menu {
  display: block;
  padding-inline-start: 0;
}

ul.footer-menu li {
  display: block;
  padding: 2px;
  list-style-type: none;
}